.cart_table {
    min-width: 400px;
    font-size: 16px;
  }
  
  .cart_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
    background-color: #e0e0df; 
  }
  
  .cart_icon {
    text-decoration: none;
    color: #0a76e2 
  }
  